---
---
<nav class="navbar" id="navbar">
  <div class="navbar-container">
    <ul class="nav-list">
      <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
      <li class="nav-item"><a href="/nosotros" class="nav-link">Nosotros</a></li>
      <li class="nav-item"><a href="/actividades" class="nav-link">Actividades</a></li>
      <li class="nav-item"><a href="/galeria" class="nav-link">Galería</a></li>
      <li class="nav-item"><a href="/contacto" class="nav-link">Contacto</a></li>
    </ul>

    <button class="menu-close" id="menuClose" aria-label="Cerrar menú"><span class="close-icon">&times;</span></button>
  </div>
</nav>
